<div class="container">
  <nav class="navbar navbar-expand-md navbar-dark" style="background-color: #A61C31;">
    <a class="navbar-brand" href="/">Circulo Rolo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Inicio <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/login" id="sesion">Iniciar Sesión</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/registro" id="registro">Resgistrarse</a>
            </li>
          </ul>
      <a href="#" style="color: white"></a>
    </div>
  </nav>
  
  <div class="nav-scroller py-1 mb-2">
    <nav class="nav d-flex justify-content-between">

      <a class="p-2 text-muted" href="/conciertos">Conciertos</a>
      <a class="p-2 text-muted" href="/cultura">Cultura</a>
      <a class="p-2 text-muted" href="/comedia">Comedia</a>
      <a class="p-2 text-muted" href="/teatro">Teatro</a>
      <a class="p-2 text-muted" href="/familiar">Familiar</a>
      <a class="p-2 text-muted" href="/deportes">Deportes</a>
      <a class="p-2 text-muted" href="/festivales">Festivales</a>
      <a class="p-2 text-muted" href="/educativos">Educativos</a>
    </nav>
  </div>

</div>

{{#if errLogin}}
      <div class="container">
        <div class="row">
          <div class="col-md-4 mx-auto">
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{errLogin}}
                <button type="button" class="close" data-dismiss="alert" aria-label="CLose">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
          </div>
        </div>
      </div>
    {{/if}}

<div class="sidenav">
         <div class="login-main-text">
            <h2>Circulo Rolo<br> Login</h2>
         </div>
      </div>
      <div class="main">
         <div class="col-md-6 col-sm-12">
            <div class="login-form">
<form action="/login" method="POST">
  <div class="form-group">
    <label for="exampleDropdownFormEmail2">User Name</label>
    <input type="text" class="form-control" name="userName" id="exampleDropdownFormEmail2" placeholder="User Name" autofocus>
  </div>
  <div class="form-group">
    <label for="exampleDropdownFormPassword2">Password</label>
    <input type="password" class="form-control" id="exampleDropdownFormPassword2" name="pass" placeholder="Password">
  </div>
  <div class="form-group">
    <div class="form-check">
      <input type="checkbox" class="form-check-input" id="dropdownCheck2">
      <label class="form-check-label" for="dropdownCheck2">
        Remember me
      </label>
    </div>
  </div>
  <button href ="/perfil" type="submit" class="btn btn-primary">Sign in</button>
</form>
</div>
         </div>
      </div>