<div class="container">
  <nav class="navbar navbar-expand-md navbar-dark" style="background-color: #A61C31;">
    <a class="navbar-brand" href="#">Circulo Rolo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Inicio <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/login" id="sesion">Iniciar Sesión</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/registro" id="registro">Resgistrarse</a>
            </li>
          </ul>
      <a href="#" style="color: white"></a>
    </div>
  </nav>
  
  <div class="nav-scroller py-1 mb-2">
    <nav class="nav d-flex justify-content-between">

      <a class="p-2 text-muted" href="#">Conciertos</a>
      <a class="p-2 text-muted" href="#">Cultura</a>
      <a class="p-2 text-muted" href="#">Comedia</a>
      <a class="p-2 text-muted" href="#">Teatro</a>
      <a class="p-2 text-muted" href="#">Familiar</a>
      <a class="p-2 text-muted" href="#">Deportes</a>
      <a class="p-2 text-muted" href="#">Festivales</a>
      <a class="p-2 text-muted" href="#">Educativos</a>
    </nav>
  </div>

</div>

{{#if errUserName}}
      <div class="container">
        <div class="row">
          <div class="col-md-4 mx-auto">
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{errUserName}}
                <button type="button" class="close" data-dismiss="alert" aria-label="CLose">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
          </div>
        </div>
      </div>
    {{/if}}

<div class="container p-4">
  <div class="row">
    <div class="col-md-4 mx-auto">
      <div class="card text-center">
        <div class="card-header">
          <h6>Registro</h6>
        </div>
        <div class="card-body">
          <form action="/registro" method="POST" enctype="multipart/ form-data">
            <div class="form-group">
              <input type="text" name="userName" placeholder="Nombre de Usuario" class="form-control" autofocus>
            </div>
            <div class="form-group">
              <input type="text" name="nombres" placeholder="Nombre" class="form-control">
            </div>
            <div class="form-group">
              <input type="text" name="apellidos" placeholder="Apellido" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" name="pass" placeholder="Contraseña" class="form-control">
            </div>
            <div class="form-group">
              <input type="text" name="correo" placeholder="Correo" class="form-control">
            </div>
            <div class="form-group">
              <input type="date" name="fechaDeNacimiento" placeholder="Fecha de Nacimiento" class="form-control">
            </div>
            <div class="form-group">
              <button class="btn btn-success btn-block">
                Crear Usuario
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
